<!DOCTYPE html>
<html>

<head>
   <title>about</title>
<link rel="icon" href="/img/pi.png">
    <link rel='stylesheet' href='./css/styles.css'>
</head>
<body>
    
  {{>header}}
   <p>This site was created by riya gupta. It uses data from weather.com and mailbox.com  </p>
     <img class="portrait" src="./img/pic.jpg">
     {{>footer}}
</body>
</html>